@import "tailwindcss";

:root {
  --gradient-green: linear-gradient(to bottom, #397A56 0%, #418F60 50%, #5DBC75 100%);
  --white-login: #F5F7F9;
  --cubes-orange: #F7A14D;
  --background: #ffffff;
  --foreground: #171717;
  --text-color: #333;
  --green-theme: #5DBC75;
  --green-start: #397A56;
  --green-middle: #418F60;
  --green-end: #5DBC75;
  --btngreen-middle: #87D9A0;
  --btngreen-end: #B2ECC0;
  --purple-theme: #A25BAE;
  --yellow-theme: #F2D77D;
  --orange-theme: #F7A14D;
  --red-theme: #E05A5A;
  --lines-color: #BDC5CE;
  --desactive-color: #D1D8E0;
  --box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}

.btn-gradient {
  background: var(--gradient-green);
}
.shadow-custom {
  box-shadow: var(--box-shadow);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-nunito: var(--font-nunito);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito), Arial;
}
